# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pet project\balance_tracker_crud-server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
